.checkoutProduct {
    display: flex;
    margin-top: 15px;
}


.checkoutProduct__image {
    width: 150px;
    object-fit: contain;
    max-height: 180px;
}

.checkoutProduct__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.checkoutProduct > button {
    display: flex;
    flex-direction: row;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__info > button {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 10px;
    color: #111;
    border: 1px solid;
    width: 150px;
}